{% extends "nav.html" %}
{% load static %}
{% block content %}
    <section class="add-employer-section">
        <div class="add-emp-img-div">
            {% comment %} <img src="{% static 'images/addemployeebg.jpg' %}" alt=""> {% endcomment %}
        
            <div class="add-emp-heading">
                <h1>Add Employee</h1>
            </div>
                <form action="{% url 'addemployee' %}" method="post" class="add-empoyer">
                    {% csrf_token %}
                    <div class="add-emp-fields">
                        <label for="">Name</label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="add-emp-fields">
                        <label for="">Id</label>
                        <input type="number" name="emp_id" required>
                    </div>
                    <div class="add-emp-fields">
                        <label for="">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="add-emp-fields">
                        <label for="">Phone</label>
                        <input type="number" name="phone" required>
                    </div>
                    <div class="add-emp-fields">
                        <input type="submit">
                    </div>
                </form>
        </div>
    </section>
{% endblock content %}