{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="terms">
    <h1>Terms & Conditions</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore dolorum sint consectetur ut optio nobis pariatur sapiente nisi ducimus, tempore blanditiis facere perferendis veniam incidunt excepturi itaque. Unde, rerum mollitia?
    Sunt quasi laboriosam, ex recusandae voluptas omnis quisquam magnam assumenda, libero totam velit, illum odit quis alias accusamus optio dolorem officia ut molestias eaque rerum. Cupiditate esse distinctio assumenda libero.
    Minima eligendi odit tenetur accusamus culpa quam veritatis placeat, asperiores obcaecati tempora. Animi dolore aliquid delectus dolor impedit incidunt fugit dolorum explicabo modi similique sunt voluptatem enim non, illo iure.
    Rerum voluptatibus numquam sint. Nam aliquid aperiam aut corrupti, architecto voluptatum iure. Pariatur esse aliquam, quis nisi a earum eius tempora doloribus error illo recusandae culpa fugit natus totam velit!</p>
</div>
{% endblock content %}